Datacenter: "NetApp-HCI-Datacenter-01"
Datastore: "NetApp-HCI-Datastore-01"
Folder: "k8s"
LoadBalancerTemplate: "capv-haproxy-v0.6.0-rc.2"
NodeTemplate: "ubuntu-1804-kube-v1.17.3"
ManagementNetwork: "NetApp HCI VDS 01-HCI_Internal_mNode_Network"
WorkloadNetwork: "NetApp HCI VDS 01-HCI_Internal_mNode_Network"
StorageNetwork: "NetApp HCI VDS 01-HCI_Internal_Storage_Network"
ResourcePool: "*/Resources"
VcenterServer: "172.60.0.150"
VsphereUsername: "administrator@vsphere.local"
VspherePassword: "NetApp1!!"
ClusterName: "capv-mgmt-cluster"
CapiSpec: ""
KubernetesVersion: "v1.17.3"
Namespace: "nks-system"
Kubeconfig: ""
SshAuthorizedKey: "ssh-rsa AAAAB3NzaC1yc2EAAAAD....e6ZHOPbjS2BF34a1Kj52NTFtiYTw== special@person.com"
ControlPlaneMachineCount: "1"
WorkerMachineCount: "2"
LogFile: "/tmp/cluster-engine.log"
Addons:
  Solidfire:
    Enable: true
    MVIP: "172.60.0.154"
    SVIP: "172.60.5.155"
    User: "administrator"
    Password: "NetApp1!!"
  Observability:
    Enable: true
    ArchiveLocation: "http://fileshare.com/observability.tgz"
Configuration:
  Cluster:
    KubernetesPodCidr: ""
    KubernetesServiceCidr: ""
